Xft.dpi: 144
Xft.antialias: true
URxvt.termName: xterm-256color
URxvt.scrollBar: false
URxvt.font: xft:DejaVu Sans Mono:size=12
URxvt.depth: 32
URxvt.foreground: rgb:ff/ff/ff
URxvt.background: rgb:00/00/00
URxvt.visualBell: false
